In [3]:
uid=int(input('Enter userid: '))
if(uid>=100 and uid<=200):  # 10(F)
    pwd=input('Enter password') # 
    if(pwd=="apssdc@123"):  # T
        print("Welcome")
    else:
        print("Invalid Pwd")
else:
    print("Invalid Userid")

Enter userid: 208
Invalid Userid

# Loops

In [5]:
print("vanitha")
print("vanitha")
print("vanitha")
print("vanitha")
print("vanitha")

vanitha
vanitha
vanitha
vanitha
vanitha

In [ ]:
for loop
while loop

In [ ]:
Why we use loops:
    when you have a block of code which you want
    to repeat a fixed number of times

In [ ]:
for loop:-
    
    A for loop is used for iterating over a sequence(i.e string,list,tuple,
    dictionary,set) with the for loop we can execute a set of statements
    once for each item in a list,tuple.....

In [ ]:
for loop syntax:
    
    for value in range(start,end,stepcount(or)increment/decrement):
        statements

In [10]:
# printing natural numbers 
# 1 to 10 numbers      
# o/p: 1 2 3 4 5 6 7 8 9 10
for i in range(1,11):  # i=1 i=2  i=3 i=4 i=5 6 ......10
    print(i,end=' ')     # 1   2   3    4   5 6...10

1 2 3 4 5 6 7 8 9 10

In [11]:
# 1 to 50 numbers printing
for i in range(1,51):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [13]:
# print your name 20 times
for i in range(1,21):
    print("vanitha",end=' ')

vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha

In [14]:
# 0 1 2 3 4 5 6 7 8 9 10 11
# 0 2 4 6 8 10
for i in range(0,11,2):
    print(i,end=' ')

0 2 4 6 8 10

In [15]:
# 1 to 10 numbers printing
for i in range(11):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [24]:
# 1 to 10 numbers printing
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [20]:
# 1 4 7 10
for i in range(1,11,3):
    print(i,end=' ')

1 4 7 10

In [26]:
# 10 9 8 7 6 5 4 3 2 1
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [27]:
# 10 8 6 4 2
for i in range(10,0,-2):
    print(i,end=' ')

10 8 6 4 2

In [28]:
# 10 7 4 1
for i in range(10,0,-3):
    print(i,end=' ')

10 7 4 1

In [31]:
n=int(input('Enter any number: '))
for i in range(1,n+1):
    print(i,end=' ')

Enter any number: 50
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [33]:
start=int(input('Enter starting range: '))
end=int(input('Enter ending range: '))
for i in range(start,end+1):
    print(i,end=' ')

Enter starting range: 20
Enter ending range: 90
20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90

In [3]:
# 1 to 10 numbers total printing
# 55
total=0
for i in range(1,11):  # i=1 i=2 i=3 i=4   i=5       i=10
    total=total+i # 0+1=1   1+2=3 3+3=6 6+4=10 10+5=15....... 55
print(total)

55

In [5]:
s=int(input())
e=int(input())
t=0
for i in range(s,e+1):
    t=t+i
print(t)

1
100
5050

In [10]:
e=int(input())
s=int(input())
for i in range(e,s-1,-3):
    print(i,end=' ')

10
1
10 7 4 1

In [ ]:
# 5
# 5 x 1 = 5
  5 x 2 = 10
  5 x 3 = 15
  5 x 4 = 20
  .
  .
  5 x 10 = 50

In [13]:
n=int(input('Enter any number: '))
for i in range(1,11):
    print(n,'x',i,'=',n*i)

Enter any number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [16]:
# python
s="python"
for i in s:  # python
    print(i,end='') # python

python

In [18]:
# factors
# 10--> 1 2 5 10
n=int(input()) # 10
for i in range(1,n+1):# i=1 2 3 4
    if(n%i==0): # (10%10==0(T))
        print(i,end=' ')  # 1 2 5 10

50
1 2 5 10 25 50