# Data Structure
- A way of organizing and storing data

In [ ]:
- list
- tuple
- dictionary
- set

In [ ]:
 list:- 
        Lists are used to store multiple items in a single variable

In [2]:
# empty list
li=[]
print(li)
print(type(li))

[]
<class 'list'>

In [4]:
# min,max,len,sorted,sum
li1=[2,3,"a","b","c",8.5,2,5.5,2,3]
print(li1)

[2, 3, 'a', 'b', 'c', 8.5, 2, 5.5, 2, 3]

In [10]:
li=[3,4,5,22,7,1,8]
print(min(li))
print(max(li))
print(len(li))
print(sum(li))
print(sorted(li))

1
22
7
50
[1, 3, 4, 5, 7, 8, 22]

In [11]:
# slicing
s=[1, 3, 4, 5, 7, 8, 22]
s[1:5]

[3, 4, 5, 7]

In [12]:
s[5]

8

In [13]:
s[::-1]

[22, 8, 7, 5, 4, 3, 1]

In [14]:
s[-1]

22

In [15]:
# lists are mutable
s

[1, 3, 4, 5, 7, 8, 22]

In [16]:
s[3]=15
print(s)

[1, 3, 4, 15, 7, 8, 22]

In [17]:
# nested list
d=[34,56,11,[45,11,78],56]
d

[34, 56, 11, [45, 11, 78], 56]

In [18]:
d[3]

[45, 11, 78]

In [19]:
d[3][1]

11

In [24]:
print(dir(list),end=' ')

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [27]:
# append
li=[23,56,11,78,89]
print(li)
li.append(77)
print(li)

[23, 56, 11, 78, 89]
[23, 56, 11, 78, 89, 77]

In [29]:
# count
s=[23, 56, 11, 78, 89, 77,23,56,23,45]
print(s.count(23))
print(s.count(56))

3
2

In [30]:
# index
print(s.index(56))

1

In [1]:
# sort
s=[23,56,11,78,89,77,23,56,23,45]
s.sort()
print(s)

[11, 23, 23, 23, 45, 56, 56, 77, 78, 89]

In [2]:
# reverse
s=[23,56,11,78,89,77,23,56,23,45]
s.reverse()
print(s)

[45, 23, 56, 23, 77, 89, 78, 11, 56, 23]

In [3]:
# insert
li=[45, 23, 56, 23, 77, 89]
li.insert(2,47)
print(li)

[45, 23, 47, 56, 23, 77, 89]

In [4]:
# remove
d=[45, 23, 47, 56, 23, 77, 89]
d.remove(23)
print(d)

[45, 47, 56, 23, 77, 89]

In [6]:
# pop()
d=[45, 23, 47, 56, 23, 77, 89]
d.pop()
print(d)

[45, 23, 47, 56, 23, 77]

In [9]:
# extend
li1=[34,45,787]
li2=[33,11,22,67]
li1.extend(li2)
print(li1)
li2.extend(li1)
print(li2)

[34, 45, 787, 33, 11, 22, 67]
[33, 11, 22, 67, 34, 45, 787, 33, 11, 22, 67]

In [17]:
# copy()
s=[34, 45, 787]
f=s.copy()
print(f)
print(s)
s.pop()
print(s)
print(f)

[34, 45, 787]
[34, 45, 787]
[34, 45]
[34, 45, 787]

In [15]:
# assignment
s1=[34, 45, 787]
s2=s1
print(s2)
print(s1)
s1.pop()
print(s1)
print(s2)

[34, 45, 787]
[34, 45, 787]
[34, 45]
[34, 45]

In [18]:
s=[34, 45, 787]
s.clear()

In [19]:
s

[]

In [ ]:
d=[4,3,2,6,8,6]